body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--prussian-blue);
  color: var(--sky-blue);
  font-family: 'Roboto', sans-serif;
  background: var(--gradient-top-right);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-weight: 700; /* Bold */
}

strong {
  font-weight: 500; /* Medium */
}
